:host {
  display: block;
}

ion-content {
  --background:
    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url('https://live.staticflickr.com/65535/53553588256_7dc9dc65b9_w.jpg')
    center/cover no-repeat;
}

.container {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 450px;

  align-items: center;
  gap: 3rem;

  padding: 2rem;

  max-width: 1400px;
  margin: auto;
}

.hero-section {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 650px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  opacity: .9;
  margin-bottom: 2rem;
}

.hero-content ul {
  list-style: none;
  padding: 0;
}

.hero-content li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

ion-card {
  border-radius: 28px;

  backdrop-filter: blur(16px);

  background: rgba(255, 255, 255, 0.12);

  border: 1px solid rgba(255, 255, 255, .2);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, .3);

  padding: 1rem;
}

ion-card-title {
  font-size: 2rem;
  font-weight: 700;
}

ion-card-subtitle {
  margin-top: .5rem;
}

.input-item {
  margin-top: 1rem;

  --background: rgba(255, 255, 255, 0.08);

  border-radius: 14px;

  margin-bottom: .4rem;
}

.error {
  color: #ffb4b4;
  font-size: .85rem;

  margin-left: 10px;

  display: block;
  margin-bottom: 1rem;
}

ion-button {
  margin-top: 1rem;
  height: 52px;

  --border-radius: 14px;

  font-weight: 600;
}

.forgot-password {
  text-align: right;
  margin-top: .5rem;
}

.toggle-mode {
  text-align: center;
  margin-top: 1.5rem;
}

.toggle-mode p {
  margin-bottom: .3rem;
}

.form-section {
  width: 100%;
}

/* Tablets */

@media (max-width: 992px) {

  .container {

    grid-template-columns: 1fr;

    padding: 1.5rem;
  }

  .hero-section {

    order: 2;

    text-align: center;
  }

  .form-section {

    order: 1;

    max-width: 500px;
    margin: auto;
  }

}

/* Celulares */

@media (max-width: 576px) {

  .container {
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content li {
    font-size: .95rem;
  }

  ion-card {
    border-radius: 20px;
  }
.painel-ordens {

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,.45);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 999;

}

.card-full {

    width: 95%;

    height: 90vh;

    display: flex;

    flex-direction: column;

}

.card-full ion-card-content {

    flex: 1;

    overflow-y: auto;

}

}
